@model Aristotle.ViewModels.ProfileView
@using Aristotle.Models;
@{
    ViewData["Title"] = "Welcome,";
}
<div class="container">
    <h1 class="profileTitle">@ViewData["Title"] @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName 
        <a asp-controller="Class" asp-action="Add">
            <button class="profileButton btn btn-info inline-block">Add a Class</button>
        </a>
    </h1>

    @if (Model.Class.Count() > 0)
    {
        @foreach (Class c in Model.Class)
        {
            <h3 class="">
                <a asp-controller="class" asp-action="detail" asp-route-id="@c.ClassId"> @c.Title </a>
                <a asp-controller="Student" asp-action="Add" asp-route-id="@c.ClassId">
                    <button class="profileButton btn btn-info">Add a Student</button>
                </a>
            </h3>

                @if (Model.StudentList.Count() > 0 && Model.ClassMember.Count() > 0)
                {
                    <div class="container">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td colspan="4" class="text-center">
                                        @DateTime.Today.DayOfWeek
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>Last Name</td>
                                <td>First Name</td>
                                <td>Grade</td>
                                <td>Absent</td>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (ClassMember cm in Model.ClassMember)
                            {
                                @if (cm.ClassId == c.ClassId)
                                {
                                    @foreach (Student s in Model.StudentList)
                                    {
                                        @if (s.StudentId == cm.StudentId)
                                        {
                                            <tr class="text-center">
                                                <td>@s.LastName</td>
                                                <td>@s.FirstName</td>
                                                <td>@s.Grade</td>

                                                @for (int i = 0; i < Model.Attendance.Count; i++)
                                                {
                                                    @if (Model.Attendance[i].ClassMemberId == cm.ClassMemberId)
                                                    {
                                                        @if (Model.Attendance[i].CurrentlyAbsent)
                                                        {
                                                            <td>X</td>
                                                        }
                                                        else
                                                        { 
                                                            <td></td>
                                                        }
                                                        @*<td>
                                                            @Html.HiddenFor(x => x.Attendance[i].AttendanceId)
                                                            <input type="checkbox" asp-for="Attendance[i].CurrentlyAbsent" class="form-control" />
                                                        </td>*@
                                                    }
                                                }

                                            </tr>
                                        }
                                    }
                                }
                                else if (Model.ClassMember == null)
                                {
                                    <tr>
                                        <td colspan="4" class="text-center text-danger">Add a Student to begin data collection</td>
                                    </tr>
                                    break;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                }

                else
                {
                    <h5 class="text-danger text-center">To Collect Data, First Add a Student to a Class</h5>
                }
        }
    }
    else
    {
        <h3 class="col-sm-12">You need to add a class to use Aristotle.</h3>
    }

</div>



